.restaurant-bg-container {
  height: 100vh;
  width: 100vw;
}

.tabs-container {
  margin-top: 5px;
  height: 60px;
  box-shadow: 8px 3px 8px 8px #f7f0f1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.category-btn {
  cursor: pointer;
  border-width: 0px;
  background-color: transparent;
}
.each-tab-text {
  color: #40393a;
  font-size: 17px;
  font-family: 'Roboto';
}
@media screen and (max-width: 566px) {
  .each-tab-text {
    font-size: 5px;
  }
}
@media screen and (max-width: 765px) {
  .each-tab-text {
    font-size: 5px;
  }
}
@media screen and (max-width: 991px) {
  .each-tab-text {
    font-size: 13px;
  }
}

.dish-container {
  height: 190px;
  width: 98%;
  margin-bottom: 8px;
  border-style: solid;
  border-color: #bfd9c4;
  border-width: 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .dish-container {
    height: 170px;
    margin-bottom: 4px;
    border-width: 1px;
    border-radius: 4px;
  }
}
.dish-text-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 95%;
}
.dishes-container {
  list-style-type: none;
}
.dish-name {
  color: #0a0203;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 4px;
}
@media screen and (max-width: 767px) {
  .dish-name {
    font-size: 9px;
    margin: 2px;
  }
}
.dish-currency-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
}
.dish-currency {
  color: #615557;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .dish-currency {
    font-size: 9px;
    margin: 3px;
  }
}

.dish-price {
  color: #615557;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .dish-price {
    font-size: 9px;
    margin: 2px;
  }
}

.dish-description {
  color: #bdb3b4;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 7px;
}
@media screen and (max-width: 767px) {
  .dish-description {
    font-size: 9px;
    margin: 4px;
  }
}
.add-to-cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.add-to-cart-btn {
  background-color: #ccc310;
  width: 125px;
  height: 44px;
  border-radius: 50px;
  border-width: 0px;
  padding: 4px;
  color: #141414;
  cursor: pointer;
}
.add-remove-cart-container {
  background-color: #178a30;
  width: 125px;
  height: 44px;
  border-radius: 50px;
  border-width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
@media screen and (max-width: 767px) {
  .add-remove-cart-container {
    width: 65px;
    height: 24px;
    border-radius: 30px;
    border-width: 0px;
    padding: 2px;
  }
}
.customization-availability {
  color: #637567;
  font-size: 17px;
  font-family: 'Roboto';
  margin: 4px;
}
@media screen and (max-width: 767px) {
  .customization-availability {
    font-size: 9px;
    margin: 2px;
  }
}
.calories-image-container {
  width: 28%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dish-calories {
  color: #e67a07;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .dish-calories {
    font-size: 8px;
  }
}
.dish-image {
  height: 150px;
  width: 40%;
  padding-right: 5px;
}

.no-available-status {
  color: #d12432;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 4px;
}
@media screen and (max-width: 767px) {
  .no-available-status {
    font-size: 8px;
    margin: 2px;
  }
}
.dish-type-name-container {
  display: flex;
  flex-direction: row;
  width: 55%;
  margin-left: 5px;
  padding: 5px;
}
@media screen and (max-width: 767px) {
  .dish-type-name-container {
    width: 65%;
    margin-left: 3px;
    padding: 3px;
  }
}
.dish-type-one-container {
  height: 6%;
  width: 28px;
  border-style: solid;
  border-width: 1px;
  border-color: #61040c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 4px;
}

@media screen and (max-width: 767px) {
  .dish-type-one-container {
    width: 15px;
    padding: 4px;
  }
}
.dish-type-one {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #61040c;
  margin: 3px;
}
@media screen and (max-width: 767px) {
  .dish-type-one {
    height: 9px;
    width: 9px;
    margin: 3px;
  }
}
.dish-type-two-container {
  height: 6%;
  width: 28px;
  border-style: solid;
  border-width: 1px;
  border-color: #166104;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 4px;
}

@media screen and (max-width: 767px) {
  .dish-type-two-container {
    margin-top: 3px;
    width: 15px;
    padding: 4px;
  }
}
.dish-type-two {
  height: 18px;
  width: 20px;
  border-radius: 50%;
  background-color: #166104;
  margin: 3px;
}
@media screen and (max-width: 767px) {
  .dish-type-two {
    height: 9px;
    width: 9px;
    margin: 3px;
  }
}

.increase-decrease-btn {
  color: #ffffff;
  background-color: transparent;
  border-width: 0px;
  font-size: 28px;
  cursor: pointer;
  padding: 4px;
}
@media screen and (max-width: 767px) {
  .increase-decrease-btn {
    font-size: 14px;
    padding: 2px;
  }
}
.dish-count {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .dish-count {
    font-size: 10px;
  }
}

.active-category-tab {
  text-decoration: underline;
  color: #d12432;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 90vh;
  width: 70vw;
}
.dishes-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
}
